.KeyTableRow:hover {
	background-color: #dadedb;
}

.KeyTableRow td {
	min-width: 40px;
	cursor: pointer;
}

.KeyTableRow-Key {
	width: 30%;
}

.KeyTableRow-Value textarea {
	width: 100%;
	resize: vertical;
}

.KeyTableRow-Value textarea {
	width: 100%;
	resize: vertical;
	min-height: 70px;
}

.KeyTableRow-Icon {
	width: 30px;
}

.KeyTableRow-Trash:hover {
	color: red;
	transition: 0.2s;
}

.KeyTableRow-Save:hover {
	color: blue;
	transition: 0.2s;
}

.KeyTableRow > td {
	vertical-align: middle !important;
}
