.KeyTableRow:hover {
	background-color: #dadedb;
}

.KeyTableRow td {
	min-width: 40px;
	cursor: pointer;
}

.KeyTableRow-Key {
	width: 30%;
}

.KeyTableRow-Value textarea {
	width: 100%;
	resize: vertical;
}

.KeyTableRow-Value textarea {
	width: 100%;
	resize: vertical;
	min-height: 70px;
}

.KeyTableRow-Icon {
	width: 25px;
}

.KeyTableRow-Icon2 {
	width: 60px;
}

.KeyTableRow-Icon2 span {
	padding-left: 5px;
}

.KeyTableRow-Trash:hover {
	color: red;
	transition: 0.2s;
}

.KeyTableRow-Save:hover {
	color: cadetblue;
	transition: 0.2s;
}

.KeyTableRow > td {
	vertical-align: middle !important;
}

.KeyTableRow-New {
	color: blue;
}

.KeyTableRow-ErrorMessage {
	font-style: italic;
	color: red;
}
